body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat center fixed;
    background-size: cover;
    margin: 8px;
    background: url("pic/旅行绘本.jpg") no-repeat center fixed;
    background-size: cover;
}

.Minefeild {
    border-style: solid;
    border-color: #868a81c7;
    border-width: 2px;
    box-shadow: 1.5px 1.5px 1.5px #6c8b7cd4;
}

.Square {
    background-color: #5b5c5bd4;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    border-style: outset;
    border-color: #6a766cad;
}



.Square:hover {
    border-style: solid;
    background-color: #8fb7a6b5;
    cursor: default;
}

.clear {
    border-color: #8fb7a6b5;
    border-style: solid;
    background-color: #8fb7a6e3;
}

.Square.Unfound {
    background-color: rgb(212 161 95 / 77%);
    background-image: url("pic/mine.png");
}

.Square.boom{
    background-color: #a52a2ac4;
    background-image: url("pic/mine.png");
}

.Minetag {
    border: 1.5px solid #808080;
    border-right-color: #fff;
    border-bottom-color: #fff;
    height: 27px;
    padding: 2px 4px;
    text-align: center;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#MineNum {
    border-radius: 17px;
    width: 40px;
    height: 27px;
    background-color: white;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
    color: #993131;
    margin-left: 20px;
}

#resest {
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 6px;
    margin-right: 20px;
}

#resest:hover {
    cursor: default;
}

#gametime {
    width: 40px;
    height: 27px;
    background-color: brown;
}

.thegame {
    background: #9f9f9fe3;
    padding: 7px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}

.menu {
    background-color: #bdc7b6e3;
    margin-bottom: 5px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1.5px 1.5px 0.5px #83897ee3;
    border-radius: 2px;
}

#board {
    display: grid;
    justify-content: center;
}

.diffiset:hover {
    color: azure;
    cursor: default;
}

.mark {
    background-color: rgba(252, 252, 252, 0.767);
    background-image: url("pic/flag.png");
    border-radius: 3px;
    z-index: -1;
}